
#clients{
    background-color: grey;
    background-image: radial-gradient(var(--first_color), var(--second_color)), url("../img/banner_3.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: darken;
    background-size: cover;

    height: 100vh;

    display: flex; 
    flex-direction: column;
    align-items: center;
}

.carousel-inner > .item {
    text-align: center;
    max-width: var(--section_header_max_width);
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel-inner > .item > .person-picture{
    height: 125px;
    width: 125px;
    border: solid var(--third_color) 8px;
    border-radius: 50%;
}

.carousel-inner > .item > .name{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.2px;
    text-transform: capitalize;
}

.carousel-inner > .item > .title{
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.carousel-inner > .item > .comment{
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}