.main-section{
    background-color: white;
    overflow: hidden;
    padding-top: 40px; 
    padding-bottom: 40px; 
}

/*----------------------- sub-section 1 -----------------------------*/
.main-section > .sub-section-1{
    display: flex;
    justify-content: center;
}

.main-section > .sub-section-1 > .col-2, #header > .col-2{
    display: flex;
    flex-direction: column;
    /*align flex items along the main axis*/
    justify-content: center;
    /*align flex items along the cross axis*/
    align-items: center;

    max-width: var(--section_header_max_width);
}

 h2{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    line-height: 35px;
    color: black;
    margin: 50px 10px 0px 10px;
    padding: 10px;
}

hr.divider{
    width: 50%;
    border-top: solid var(--third_color) 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    margin: 20px 0;
}

.main-section > .sub-section-1 > .col-2> .description{
    /* Typography*/
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    line-height: 26px;
    color: black;
    text-align: center;
}

/*------------------------------ sub-section 2 ------------------------*/
#works > .sub-section-2, #team > .sub-section-2, #services > .sub-section-2{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
}


/*--------------------------- icon box ------------------------------*/
.main-section > .sub-section-2 > .icon-box{
    background-color: white;
    border: solid white 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.main-section > .sub-section-2 > .icon-box > .description{
    letter-spacing: 1.2px;
    font-size: 18px;
    line-height: 26px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.main-section > .sub-section-2 > .icon-box > .title{
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 20px;
    color: var(--first_color);
    
}

.main-section > .sub-section-2 > .icon-box > .sub-title{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 0.9px;
    color: rgb(73, 73, 73);
    text-transform: capitalize;
}


.main-section > .sub-section-2 > .icon-box > .large-icon{
    background-color: var(--first_color);
    color: white;
    border: solid var(--third_color) 8px;
    border-radius: 50%;
    font-size : 35px;
    padding : 15px;
    position: relative;
    top: -45px;  
    
}

.main-section > .sub-section-2 > .icon-box > .person{
    height: 125px;
    width: 125px;
    border: solid var(--third_color) 8px;
    border-radius: 50%;
    position: relative;
    top: -55px; 
}