<!DOCTYPE html>
<html lang="en-us">

<head>

	<!-- For responsive designe -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">

	<title>Landign Page</title>

	<link rel="stylesheet" type="text/css" href="/public/style/basicCSS.css">
	<link rel="stylesheet" type="text/css" href="/public/style/icons.css">
	<link rel="stylesheet" type="text/css" href="/public/style/navBar.css">
	<link rel="stylesheet" type="text/css" href="/public/style/header.css">
	<link rel="stylesheet" type="text/css" href="/public/style/work.css">
	<link rel="stylesheet" type="text/css" href="/public/style/services.css">
	<link rel="stylesheet" type="text/css" href="/public/style/contact.css">
	<link rel="stylesheet" type="text/css" href="/public/style/banner.css">
	<link rel="stylesheet" type="text/css" href="/public/style/slides.css">
	<link rel="stylesheet" type="text/css" href="/public/style/mobile.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="/public/script/effects.js"></script>
</head>

<body>
	<!-- Creating Nav Bar-->
	<section id="nav-bar">
		<!-- Fist column which will contain the logo-->
		<div class="col-1">
			<img src="/public/img/white_logo.png" class="logo">
		</div>
		<!-- End first column-->

		<!-- second column which will contain the navigation links-->
		<div class="col-2">
			<div class="dropbtn">
				<i class="icon-menu"></i>
			</div>
			<div class="col-2-1">
				<a href="#header" class="nav-link">home</a>
			</div>
			<div class="col-2-2">
				<a href="#works" class="nav-link">works</a>
			</div>
			<div class="col-2-3">
				<a href="#services" class="nav-link">services</a>
			</div>
			<div class="col-2-4">
				<a href="#clients" class="nav-link">clients</a>
			</div>
			<div class="col-2-5">
				<a href="#team" class="nav-link">our team</a>
			</div>
			<div class="col-2-6">
				<a href="#contact" class="nav-link">contact</a>
			</div>
		</div>
		<!-- End second column-->
	</section>
	<!-- End Nav Bar-->

	<!-- Creating Header -->
	<section class="" id="header">
		<!-- First row -->
		<div class="col-2">
			<h1 class="animate-fadein">creatified business <span class="word">template</span></h1>
			<p id="slogan" class="animate-fadein"><em>we beleive in creativity always</em></p>
			<ul class="icon-list animate-fadein">
				<li><i class="icon-appleinc rouded-icon "></i></li>
				<li><i class="icon-android rouded-icon "></i></li>
				<li><i class="icon-windows8 rouded-icon "></i></li>
			</ul>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lectus elit, pharetra rhoncus efficitur
				eget, aliquam vel lorem.
			</p>
			<div class="sub-section">
				<a class="link-button-1 button" href="#">get started</a>
				<a class="link-button-2 button" href="#">buy now</a>
			</div>
		</div>
		<!-- End First row-->
	</section>
	<!-- End Header -->

	<!-- Work Section-->
	<section class="main-section" id="works">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>work with smile</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget.
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<!-- start icon box -->
			<div class="icon-box shadow">
				<span class="large-icon icon-measure"></span>
				<p class="title">unique design</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<span class="large-icon icon-measure"></span>
				<p class="title">corporate branding</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<span class="large-icon icon-measure"></span>
				<p class="title">unique design</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
			</div>
			<!-- End icon box-->
		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End work Section-->

	<!-- sevices Section-->
	<section class="main-section" id="services">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>mobile feature</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<div class="col-1">
				<img src="/public/img/services_bg.png">
			</div>
			<div class="col-2">
				<div class="row-1 icon-box-2">
					<span class="left-icon icon-move"></span>
					<p class="name">retina display</p>
					<p class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>

				<div class="row-2 icon-box-2">
					<span class="left-icon icon-settings"></span>
					<p class="name">beautiful callbacks</p>
					<p class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>

				<div class="row-3 icon-box-2">
					<span class="left-icon icon-tablet"></span>
					<p class="name">IOS/windows/android</p>
					<p class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>

				<div class="row-4 icon-box-2">
					<span class="left-icon icon-spin"></span>
					<p class="name">auto redirect</p>
					<p class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End main-Section-->

	<!-- Client Section-->
	<section class="main-section" id="clients">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>awesome clients</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<div class="slide-show">

				<!-- A single slide that contain the infos-->
				<div class="slides fade">
					<!--<span class="slide-index hidden-slide">1/3</span>-->
					<img src="../public/img/profil-01.jpg" class="person-picture">
					<p class="name">tony stark</p>
					<p class="title">sr engineer</p>
					<p class="comment">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Duis elementum augue interdum, imperdiet mi non, pulvinar odio.
						Donec sodales tellus velit, eget convallis metus egestas nec.
						Aliquam fringilla sapien et ultricies tempor. Nullam rutrum metus posuere diam fringilla
						faucibus.
					</p>
				</div>

				<!-- A single slide that contain the infos-->
				<div class="slides hidden-slide fade">
					<!--<span class="slide-index">2/3</span>-->
					<img src="../public/img/profil-02.jpg" class="person-picture">
					<p class="name">nicola tesla</p>
					<p class="title">designer</p>
					<p class="comment">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem.
						Integer scelerisque nunc ac consectetur vestibulum.
						Etiam tempus viverra ipsum, vel facilisis diam varius ut
					</p>
				</div>

				<!-- A single slide that contain the infos-->
				<div class="slides hidden-slide fade">
					<!--<span class="slide-index">3/3</span>-->
					<img src="../public/img/profil-03.jpg" class="person-picture">
					<p class="name">elon musk</p>
					<p class="title">developer</p>
					<p class="comment">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem.
						Phasellus molestie metus a nibh ullamcorper aliquet. Nunc fringilla a justo a tempor.
						Sed porttitor urna felis.
					</p>
				</div>

				<!-- The dots/Circles-->
				<div class="navigation-2">
					<span class="dot icon-dot-single selected" onclick="slideShow(1)"></span>
					<span class="dot icon-dot-single" onclick="slideShow(2)"></span>
					<span class="dot icon-dot-single" onclick="slideShow(3)"></span>
				</div>

			</div>
		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End main-Section-->

	<!-- our team Section-->
	<section class="main-section" id="team">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>our team</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget.
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<!-- start icon box -->
			<div class="icon-box shadow">
				<img src="../public/img/profil-01.jpg" class="person">
				<p class="title">unique design</p>
				<p class="sub-title">web developer</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<ul class="icon-list">
					<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				</ul>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<img src="../public/img/profil-02.jpg" class="person">
				<p class="title">unique design</p>
				<p class="sub-title">web developer</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<ul class="icon-list">
					<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				</ul>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<img src="../public/img/profil-03.jpg" class="person">
				<p class="title">unique design</p>
				<p class="sub-title">web developer</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<ul class="icon-list">
					<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				</ul>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<img src="../public/img/profil-03.jpg" class="person">
				<p class="title">unique design</p>
				<p class="sub-title">web developer</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<ul class="icon-list">
					<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				</ul>
			</div>
			<!-- End icon box-->

			<!-- start icon box -->
			<div class="icon-box shadow">
				<img src="../public/img/profil-03.jpg" class="person">
				<p class="title">unique design</p>
				<p class="sub-title">web developer</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget, aliquam vel lorem
				</p>
				<ul class="icon-list">
					<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
					<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				</ul>
			</div>
			<!-- End icon box-->
		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End main-Section-->

	<!-- Contact Section-->
	<section class="main-section covered" id="download-banner">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>download</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget.
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<div class="col-2">
				<a href="#" class="icon-button button"><i class="icon-appleinc"></i>app store</a>
				<a href="#" class="icon-button button"><i class="icon-android"></i>play store</a>
				<a href="#" class="icon-button button"><i class="icon-windows8"></i>windows</a>
			</div>
		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End main-Section-->

	<!-- Contact Section-->
	<section class="main-section" id="contact">
		<!-- title and short description section-->
		<section class="sub-section-1">
			<div class="col-2">
				<h2>conatct me</h2>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nam lectus elit, pharetra rhoncus efficitur eget.
				</p>
				<hr class="divider">
			</div>
		</section>
		<!-- End Sub-Section-->

		<!-- content section-->
		<section class="sub-section-2">
			<div class="col-1">
				<h3>drop a message</h3>
				<form action="" method="">
					<input type="text" name="name" id="name" placeholder="Your name" required />
					<hr class="space">
					<input type="tel" name="phone" id="phone" placeholder="Your phone number" required />
					<hr class="space">
					<input type="email" name="email" id="email" placeholder="Your e-mail" required />
					<hr class="space">
					<textarea id="email-body" name="email-body" rows="4" col="50" required></textarea>
					<hr class="space">
					<input type="submit" class="submit-button" value="Send" />
				</form>
			</div>
			<div class="col-2">
				<div class="icon-box-2">
					<span class="left-icon icon-map"></span>
					<p class="name">Address</p>
					<p class="value">ENSI La Manouba</p>
				</div>

				<div class="icon-box-2">
					<span class="left-icon icon-phone"></span>
					<p class="name">phone</p>
					<p class="value">(+1) 11 111 111</p>
				</div>

				<div class="icon-box-2">
					<span class="left-icon icon-envelop"></span>
					<p class="name">email</p>
					<p class="value">example@gmail.com</p>
				</div>

			</div>
		</section>
		<!-- End sub-Section-->

		<!-- social media section-->
		<section class="sub-section-3">
			<ul class="icon-list">
				<li><a href="#"><i class="icon-facebook rouded-icon hoverbal-icon shadow"></i></a></li>
				<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				<li><a href="#"><i class="icon-linkedin2 rouded-icon hoverbal-icon shadow"></i></a></li>
				<li><a href="#"><i class="icon-twitter rouded-icon hoverbal-icon shadow"></i></a></li>
				<li><a href="#"><i class="icon-instagram rouded-icon hoverbal-icon shadow"></i></a></li>
			</ul>

		</section>
		<!-- End sub-Section-->
	</section>
	<!-- End main-Section-->

	<footer>
		<div>
			<a href="#">achref abidi</a>
			<p>All Rights Reserved</p>
		</div>
	</footer>




</body>

</html>